/**
 * @ Author: MyoMoonlight
 * @ Create Time: 2024-08-25 02:31:58
 * @ Modified time: 2025-02-04 13:25:12
 */

h1 {
    text-align: center;
}
#vm {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 60px;
    padding: 80px 1em;
    flex-wrap: wrap; /* mobile friendly */
}

#vm > section {
    background: white;
    padding: 2em 2.5em;
    box-shadow: 1px 1px 10px #0006;
    border-radius: 1em;
    max-width: 500px;
    min-width: 400px;
    text-align: center;
}

/* Vision box */
#vm > section:nth-child(1) {
    border-top: 5px solid maroon;
    border-left: 5px solid rgb(126, 207, 235);
}

/* Mission box */
#vm > section:nth-child(2) {
    border-bottom: 5px solid maroon;
    border-right: 5px solid rgb(126, 207, 235);
}

#vm h2 {
    font-size: 3em;
    font-family: "Old-English";
    margin-bottom: 0.5em;
}

#vm p {
    font-size: 1.4em;
    line-height: 1.5;
}
    

#history > h1,
#symb > h1 {
    font-size: 3em;
    font-weight: 500;
    font-family: "Old-English";
}

#history {
    & > h1 {
        padding-bottom: 0.6em;
    }
    & > p {
        max-width: 800px;
        margin: auto;
    }
    & > section {
        display: flex;
        width: 100%;
        padding: 40px 30px 80px 30px;
        max-width: 800px;
        justify-content: space-between;
        margin: auto;
        box-sizing: border-box;
        & > div {
            position: relative;
            width: 25vw;
            max-width: 190px;
            aspect-ratio: 1/1.7;
            background-color: #0004;
            border-radius: 1em;
            overflow: hidden;
            & > img {
                height: 100%;
                width: 100%;
            }
            & > span {
                position: absolute;
                bottom: 10px;
                color: white;
                padding-inline: 1em;
                width: 100%;
                left: 0;
            }
        }
    }
}
#symb > img {
    display: block;
    padding: 30px 0;
    max-width: 600px;
    max-height: 600px;
    margin: auto;
}

@media screen and (max-width: 900px) {
    #vm {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    #vm > section {
        min-width: unset;
        width: 100%;
        max-width: 90%;
    }
}

    #history > p {
        padding: 0 1em;
    }
    #symb > img {
        box-sizing: border-box;
        max-width: 100%;
        padding: 30px;
    }
}


