.loader {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}